@import url(../globalVariables.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Roboto", sans-serif;
}

body {
    height: 140vh;
    background-color: rgb(100, 100, 100);

    display: flex;
    align-items: center;
    justify-content: center;  
}

main {
    width: 70%;
    height: 130vh;

    background-color: var(--main-color);
}

.bg-layot {
    box-shadow: 0px -50px 80px -10px rgba(0, 0, 0, 0.884) inset;
    background-position: center;
    background-size: cover;
}

header {
    width: 100%;
    height: 45px;

    display: flex;
    align-items: center;

    justify-content: space-between;

    border-bottom: 5px solid rgb(100, 100, 100);
}

header h2 {
    color: #fff;

    margin-left: 8px;
}

#logoutBtn {
    width: 25px;
    height: 25px;

    margin-right: 8px;
}

.profile {
    width: 80%;
    height: 350px;
    margin: auto;
    display: flex;
}

.profile-initials {
    width: 400px;
    height: 350px;

    display: flex;
    align-items: center;
}

.user {
    min-width: 310px;
    height: 180px;

    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.user #userAvatar {
    position: relative;
    width: 110px;
    height: 110px;
    
    background-image: url('../../assets/icons/user.png');
    background-size: 90% 90%;
    background-repeat: no-repeat;
    background-position: center;
    
    box-shadow: 0 0 .1rem #fff, 0 0 .1rem #fff, 0 0 .1rem #2723f5, 0 0 0.1rem #2723f5, 0 0 0.7rem #2723f5, inset 0 0 .2rem #2723f5; 
}

.user .user-initials {
    position: relative;
    
    min-width: 150px;
    height: 120px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    color: rgb(204, 204, 204);
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
}

#editUserInitilsIcon {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
}

.username {
    display: flex;
}

#username {
    font-size: 25px;
}

.username-image {
    width: 30px;
    height: 30px;

    background-size: cover;
    background-position: center;
}

.profile-info {
    width: 100%;
    height: 350px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.profile-balance {
    width: 500px;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: center;
}

#balance {
    color: white;
    font-size: 30px;
}

.profile-balance .coin_balance {
    width: 30px;
    height: 30px;
}

.profile-purchases {
    width: 500px;
    height: 200px;
}

.purchases-header {
    width: 100%;
    height: 35px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
}

.purchases-header .backpack {
    width: 30px;
    height: 30px;
}

.items {
    width: 100%;
    height: 150px;
    
    display: grid;
    grid-template-columns: repeat(4, 100px);
    justify-content: space-around;
    place-items: center;
    
    overflow-y: auto;
    gap: 10px;
    color: white;
}

.items::-webkit-scrollbar {
    width: 0;
}

.item {
    margin-top: 5px;
    margin-bottom: 5px;
}

.shop {
    width: 80%;
    height: calc(130vh - 350px - 45px);


    margin: 0 auto;
    overflow-x: auto;   
}

.shop::-webkit-scrollbar {
    width: 0;
}

.shop-header {
    width: 100%;
    height: 80px;

    display: flex;
    align-items: center;

    border-bottom: 5px solid #4b4b4b;
}

.shop-header h1 {
    color: #adadad;
}

.shop-main {
    width: 100%;
    height: auto;  
}

.avatar-frames-conatainer,
.profile-backgrounds-conatainer
.profile-badges-conatainer {
    width: 100%;
    min-height: 150px;
}

.avatar-frames-header,
.profile-backgrounds-header,
.profile-badges-header {
    width: 100%;
    height: 80px;

    display: flex;
    align-items: center;

    border-bottom: 5px solid #4b4b4b;
}

.avatar-frames-header h2,
.profile-backgrounds-header h2,
.profile-badges-header h2  {
    color: #adadad;
}

.avatar-frames-items,
.profile-backgrounds-items,
.profile-badges-items {
    width: 100%;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}

.avatar-frames-items__item {
    width: 60px;
    height: 60px;
    position: relative;

    margin-left: 5px;
    background-color: transparent;

    cursor: pointer;
}

.avatar-frames-items__item:hover {
    transform: scale(1.05);
}

.profile-backgrounds-items__item,
.profile-badges-items__item  {
    width: 100px;
    height: 60px;
    position: relative;

    margin-left: 5px;
    background-color: transparent;
    
    background-size: cover;

    cursor: pointer;
}

.profile-backgrounds-items__item:hover {
    transform: scale(1.1);
}

.profile-badges-items__item  {
    width: 60px;
    height: 60px;

    background-size: cover;
}

/* modal for items */
.modal-item {
    position: absolute;
    top: 0;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.322);

    color: white;
}

.modal-item__buy, 
.modal-item__sell {
    width: 40px;
    height: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #4b4b4b;
    border: none;
    color: white;

    cursor: pointer;
}

.avatar-modal {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.322);
}

.uload-image-icon {
    width: 50px;
    height: 50px;

    cursor: pointer;
}

.user-initilas-modal {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.322);
}

.user-initials-modal-container {
    width: 350px;
    height: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: #414141;
}

.user-initials-modal-header {
    width: 90%;
    height: 50px;

    display: flex;
    align-items: center;

    border-bottom: 2px solid;
    color: white;
}

.user-initials-modal-inputs {
    width: 90%;
    height: 150px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #adadad;
}