@import url(../globalVariables.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Roboto", sans-serif;
}

body {
    height: 130vh;
    background-color: rgb(100, 100, 100);

    display: flex;
    align-items: center;
    justify-content: center;
    
}

main {
    width: 70%;
    height: 120vh;

    background-color: var(--main-color);
}

.bg-layot {
    box-shadow: 0px -22px 30px -10px rgba(0,0,0,0.75) inset;
}

header {
    width: 100%;
    height: 45px;

    display: flex;
    align-items: center;

    justify-content: space-between;

    border-bottom: 5px solid rgb(100, 100, 100);
}

header h2 {
    color: #fff;

    margin-left: 8px;
}

#logoutBtn {
    width: 25px;
    height: 25px;

    margin-right: 8px;
}

.profile {
    width: 100%;
    height: 350px;

    display: flex;
    justify-content: space-between;


}

.profile-initials {
    width: 400px;
    height: 350px;

    display: flex;
    align-items: center;
    justify-content: center;
   
}

.user {
    width: 300px;
    height: 180px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    
   
}

.user #userAvatar {
    width: 110px;
    height: 110px;
    
    background-image: url('../../assets/icons/user.png');
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
    
    /* box-shadow: 0 0 .1rem #fff,
    0 0 .1rem #fff,
    0 0 .1rem #bc13fe,
    0 0 0.1rem #bc13fe,
    0 0 0.7rem #bc13fe,
    inset 0 0 .2rem #bc13fe;  */

     box-shadow: 0 0 .1rem #fff, 0 0 .1rem #fff, 0 0 .1rem #2723f5, 0 0 0.1rem #2723f5, 0 0 0.7rem #2723f5, inset 0 0 .2rem #2723f5; 
}

.user .user-initials {
    min-width: 150px;
    height: 120px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    color: white;
}

#username {
    font-size: 25px;
}

.profile-info {
    width: 500px;
    height: 350px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    
  
}

.profile-balance {
    width: 100%;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: center;

}

#balance {
    color: white;
    font-size: 30px;
}

.profile-balance .coin_balance {
    width: 30px;
    height: 30px;
}

.profile-purchases {
    width: 400px;
    height: 200px;

}

.purchases-header {
    width: 100%;
    height: 35px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
}

.purchases-header .backpack {
    width: 30px;
    height: 30px;
}

.items {
    width: 100%;
    height: 150px;
    
    display: grid;
    grid-template-columns: repeat(5, 30px);
    justify-content: space-around;
    place-items: center;
    
    overflow-y: auto;
    gap: 10px;
    color: white;
}

.items::-webkit-scrollbar {
    width: 0;
}

.item {
    position: relative;
    width: 60px;
    height: 60px;

    margin-top: 5px;
    margin-bottom: 5px;

    background-color: transparent;
}

.shop {
    width: 80%;
    height: calc(120vh - 350px - 45px);

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 auto;
    overflow-x: auto;

    
}

.shop-header {
    width: 100%;
    height: 100px;

    display: flex;
    align-items: center;

   
    border-bottom: 5px solid #4b4b4b;
  
}

.shop-header h1 {
    color: #adadad;
}

.shop-main {
    width: 100%;
    height: auto;
   
}

.avatar-frames-conatainer {
    width: 100%;
    height: 150px;
}

.avatar-frames-header {
    width: 100%;
    height: 80px;


    display: flex;
    align-items: center;

    border-bottom: 5px solid #4b4b4b;
}

.avatar-frames-header h2 {
    color: #adadad;
}

.avatar-frames-items {
    width: 100%;
    height: calc(100% - 50px);

    display: flex;
    align-items: center;
    gap: 30px;
}

.avatar-frames-items__item {
    width: 60px;
    height: 60px;
    position: relative;

    margin-left: 5px;
    background-color: transparent;

    cursor: pointer;
}

.avatar-frames-items__item:hover {
    transform: scale(1.05);
}


/* modal for items */
.modal-item {
    position: absolute;
    top: 0;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.322);

    color: white;
}

.modal-item__buy, 
.modal-item__sell {
    width: 40px;
    height: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #4b4b4b;
    border: none;
    color: white;

    cursor: pointer;
}